<div class="startborder">
    <a routerLink="/start" routerLinkActive="active" style="color: black;text-decoration: none"><p style="font-size: 50px">Yabe</p></a> 
    <img src="Yabe\src\Img\Yabe.png"/>
    <input class="search" type="search" placeholder="Suche..." />
    <div class="buttons">
      <a routerLink="/register" routerLinkActive="active"> <button class="registerButton">Registrieren</button></a>
      <a routerLink="/login" routerLinkActive="active" ><button class="loginButton" >Einloggen</button></a>
    </div>  
  </div>
<router-outlet></router-outlet>