<nz-card nzHoverable [nzCover]="coverTemplate" nzBordered style="height: 300px; min-width: 150px">
  <nz-card-meta *ngIf="article" [nzTitle]="this.article.name" [nzDescription]="description"></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <div *ngIf="article">
    <img *ngIf="article.image === ''" src="https://cdn.pixabay.com/photo/2017/08/02/01/01/living-room-2569325_1280.jpg" class="article-img" alt="Artikellogo"/>
    <img *ngIf="article.image !== ''" [src]="article.image" class="article-img" alt="Artikellogo"/>
  </div>
</ng-template>
<ng-template #description>
  <div *ngIf="article">
    <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">{{this.article.description}}</span>
    <nz-tag *ngIf="!article.biddingEnabled" nzColor="error" style="float: right; margin-right: 12px">Abgelaufen</nz-tag>
    <button *ngIf="article.biddingEnabled && !article.isSold && this.editable" style="float: right; margin-right: 12px" nz-button nzType="default" nzSize="small"><i nz-icon nzType="edit"></i>Bearbeiten</button>
  </div>

</ng-template>
