<div nz-row style="margin-bottom: 24px;">
  <div nz-col>
    <button nz-button nzType="primary" (click)="openCreateModal()"><i nz-icon nzType="plus"></i>Angebot hinzufügen</button>
  </div>
</div>
<div nz-row [nzGutter]="[16, 16]" *ngIf="productsLoaded else loading">
  <div nz-col [nzSpan]="6" *ngFor="let product of products">
    <div>
      <a [routerLink]="['/show', product._id]" style="color: black;text-decoration: none">
        <app-article [article]="product"></app-article>
      </a>
      <button *ngIf="product.biddingEnabled" nz-button nzType="primary" style="width: 100%" (click)="openEditModal(product)"><i nz-icon nzType="edit">Bearbeiten</i></button>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>


<nz-modal [(nzVisible)]="this.createModalVisible" nzTitle="Angebot hinzufügen" (nzOnCancel)="handleCancelCreate()" [nzFooter]="null" nzWidth="30vw">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="createOfferForm" class="login-form" (ngSubmit)="submitNewOffer()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Bitte geben Sie ein Titel für das Angebot an">
          <nz-input-group>
            <input type="text" nz-input formControlName="name" placeholder="Titel" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Bitte beschreiben Sie Ihr Angebot in 1-2 Sätzen.">
          <nz-input-group>
            <input type="text" nz-input formControlName="description" placeholder="Beschreibung" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <!--nz-upload nzType="drag" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" (nzChange)="handleChange($event)" style="width: 100%">
        <p class="ant-upload-drag-icon">
          <i nz-icon nzType="inbox"></i>
        </p>
        <p class="ant-upload-text">Klicken oder Datei in diesen Bereich ziehen</p>
        </nz-upload-->
        <input type="file" (change)="fileChangeEvent($event)">
      </nz-form-item>
      <button nz-button class="login-form-button login-form-margin" nzType="primary" style="width: 100%">Hochladen</button>
    </form>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="this.editModalVisible" nzTitle="Angebot hinzufügen" (nzOnCancel)="handleCancelEdit()" [nzFooter]="null" nzWidth="30vw">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="editArticleForm" class="login-form" (ngSubmit)="submitEditedArticle()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Bitte geben Sie ein Titel für das Angebot an">
          <nz-input-group>
            <input [(ngModel)]="articleToEdit.name" type="text" nz-input formControlName="name" placeholder="Titel" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Bitte beschreiben Sie Ihr Angebot in 1-2 Sätzen.">
          <nz-input-group>
            <input [(ngModel)]="articleToEdit.description" type="text" nz-input formControlName="description" placeholder="Beschreibung" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <!--nz-upload nzType="drag" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" (nzChange)="handleChange($event)" style="width: 100%">
        <p class="ant-upload-drag-icon">
          <i nz-icon nzType="inbox"></i>
        </p>
        <p class="ant-upload-text">Klicken oder Datei in diesen Bereich ziehen</p>
        </nz-upload-->
        <input type="file" (change)="fileChangeEvent($event)">
      </nz-form-item>
      <button nz-button class="login-form-button login-form-margin" nzType="primary" style="width: 100%">Hochladen</button>
    </form>
  </ng-container>
</nz-modal>
