<nz-card *ngIf="article" style="max-width: 60vw; max-height: 600px; margin: auto">
  <div nz-row>
    <div nz-col nzSpan="6">
      <div *ngIf="article">
        <img *ngIf="article.image === ''" src="https://cdn.pixabay.com/photo/2017/08/02/01/01/living-room-2569325_1280.jpg" class="article-img" alt="Artikellogo"/>
        <img *ngIf="article.image !== ''" [src]="this.article.image" class="article-img" alt="Artikellogo"/>
      </div>
    </div>
    <div nz-col nzSpan="18" style="color: white">
      <nz-descriptions [nzTitle]="article.name" [nzColumn]="1">
        <nz-descriptions-item nzTitle="Beschreibung">{{article.description}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Höchstes Gebot">
          <p *ngIf="this.maxBid === 0" nz-typography>Noch keine Gebote</p>
          <p *ngIf="this.maxBid !== 0" nz-typography>{{this.maxBid | currency: 'EUR'}}</p>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Betrag" *ngIf="article.biddingEnabled">
          <input nz-input [(ngModel)]="this.newBid" nzSize="small" type="number" style="max-width: 15%" [min]="this.maxBid + 1"/>
          <button style="float: right; margin-left: 12px" nz-button nzType="primary" nzSize="small" (click)="makeBid()"><i nz-icon nzType="euro"></i>Bieten</button>
        </nz-descriptions-item>
      </nz-descriptions>
    </div>
  </div>
</nz-card>
