<div class="startborder">
  <p style="font-size: 30px">Yabe</p>
  <input class="search" type="search" placeholder="Suche..." />
  <div class="buttons">
    <button class="registerButton">Registrieren</button>
    <button class="loginButton">Einloggen</button>
  </div>
  
</div>

<body>
  <div class="listings">
    <div *ngFor="let products of product">
      <div class="listings1">
        {{ products.title }}
        <img src="{{ products.picture }}" />
        <div class="info">
          {{ products.price }}
          <div class="counter">{{ products.counter }}</div>
        </div>
      </div>
    </div>
  </div>
</body>
