.startborder {
  /* border: 2px solid red; */
  border-width: 2px;
  border-style: solid;
  border-color: red;
  padding: 1%;
}

.registerButton {
  height: 50px;
  width: 100px;
}

.loginButton {
  height: 50px;
  width: 100px;
}
.buttons {
    float:right; 
}
.search {
    margin-left:45%;  
}

.listings{
  
    display: grid;  
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(5, 200px);
}

.listings1 {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  padding: 1px;
}

.listings2 {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  padding: 1px;
}

.listings3 {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  padding: 1px;
}

.listings4 {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  padding: 1px;
}