<div class="startborder">
  <p style="font-size: 30px">Yabe</p>
  <div class="buttons">
    <button class="registerButton">Registrieren</button>
    <button class="loginButton">Einloggen</button>
  </div>
  <input class="search" type="search" placeholder="Suche..." />
</div>

<body>
  <div class="listings">
    <div *ngFor="let products of product">
      <div class="listings1">
        {{ products.description }}
        {{ products.title }}
        <img src="{{ products.picture }}" />
      </div>
    </div>
  </div>
</body>
