.startborder {
  /* border: 2px solid red; */
  display: flex;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  padding: 1%;
}

.registerButton {
  height: 50px;
  width: 100px;
}

.loginButton {
  height: 50px;
  width: 100px;
}
.buttons {
    float:right;
}
.search {
    margin-left:45%;  
}

.listings{  
    display: grid;  
    gap: 6% 0.6%; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-template-rows: repeat(5, 200px);
}

.listings1 {
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  padding: 5px;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.listing1img {
  height: 1fr;
  width: 1fr;
}