<nz-page-header>
  <nz-page-header-title routerLink="/" routerLinkActive="active" style="cursor: pointer">Yabe</nz-page-header-title>
  <nz-page-header-extra>
    <button *ngIf="!loginService.loggedIn" nz-button nzType="primary" nzSize="large" (click)="openLoginModal()"><i nz-icon nzType="login"></i>&nbsp;Login</button>
    <button *ngIf="loginService.loggedIn" nz-button nzType="primary" nzSize="large" nz-dropdown [nzDropdownMenu]="menu1" nzTrigger="click"><i nz-icon nzType="user"></i>&nbsp;Profil</button>
  </nz-page-header-extra>
</nz-page-header>

<nz-dropdown-menu #menu1="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item routerLink="/showown" routerLinkActive="active"><i nz-icon nzType="bars"></i>Eigene Artikel</li>
    <li nz-menu-item (click)="logout()"><i nz-icon nzType="logout"></i>Ausloggen</li>
  </ul>
</nz-dropdown-menu>

