<div nz-row style="width: 30vw; margin: auto; padding-bottom: 24px">
  <div nz-col>
    <nz-input-group [nzSuffix]="suffixIconSearch" style="width: 40vw; margin: auto">
      <input type="text" nz-input [(ngModel)]="this.searchValue" placeholder="input search text" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
</div>
<div *ngIf="product.length">
  <div nz-row [nzGutter]="[16, 16]">
    <div nz-col [nzSpan]="6" *ngFor="let products of product | search: this.searchValue">
      <a [routerLink]="['/show', products._id]" style="color: black;text-decoration: none">
        <app-article [article]="products"></app-article>
      </a>
    </div>
  </div>
</div>
